.Add-contact {
  margin: auto;
}

.Add-contact td {
  padding: 5px;
}

.Last-row {
  width: 100%;
  text-align: center;
}

.Last-row button {
  display: inline-block;
  width: 150px;
  font-size: 0.75em;
  margin: 10px;
}