#profile {
  float: right;
}

#profile p, #profile button {
  display: inline-block;
  margin: 10px;
}

#contacts {
  background: lightcyan;
  text-align: center;
  width: 100%;
  float: left; 
}

#contacts table{
  text-align: left;
  width: 500pt;
}

#contacts table, td {
  padding: 5px;
  margin: auto;
  border: 1px solid black;
}

#addContactButton {
  margin: 10pt;
}

td > button {
  width: 100%;
}